::selection {
    background: #c05b4d;
    color: white;
}

.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
    background-color: #c05b4d;
    color: white;
    border-radius: 2px;
}

pre,
pre code {
    background-color: #f8f5ec;
    color: #42464c;
    border-radius: 2px;
}